@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.header {
    background-color: #0E0E1B;
    height: 100px;
    display: flex;
    justify-content: center;
}

.nome{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nome img{
    width: 105px;
    height: 60px;
}
h1 {
    color: #036FDB;
    font-size: 64px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
}